@charset "utf-8";
/* CSS Document */

@import "compass/css3";

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
	background-color:#ecf0f1;}	
.header
{
  text-align:center;
 /* background: -webkit-radial-gradient(Gainsboro 50%,white 50%); /* Safari 5.1-6.0 */
 /* background: -o-radial-gradient(Gainsboro 50%,white 50%); /* For Opera 11.6-12.0 */
 /* background: -moz-radial-gradient(Gainsboro 50%,white 50%); /* For Firefox 3.6-15 */
 /* background: radial-gradient(Gainsboro 50%,white 50%); /* Standard syntax */
}

.head{
	font-family: 'Chewy', cursive;
	font-size:270%;
	font-weight:bold;
	}

.show{
	display: none;
	
	
	}
	
.show:target{
	display: block;
	}
		
.placement{
	margin-top:5%;
	
}

.centre{
	text-align:center;
	}
	
.text{
	font-family: 'Righteous', cursive;
	font-size:270%;
	color:#2980b9;
	}
		
.image{
	max-width:70%;
	max-height:70%;
}

#star-six {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
	position: relative;
}
#star-six:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.button12{
	
	background:#2980b9;
	color:#FFF;
	width:100px;
	text-decoration:none;
	padding:10px;
	margin-top:120px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

.button3{
	background:#2980b9;
	color:#FFF;
	width:170px;
	text-decoration:none;
	padding:10px;
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

.button12:hover{
	
	background:#30C;
	color:#FFF;
	width:100px;
	text-decoration:none;
	padding:10px;
	margin-top:120px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

.button3:hover{
	background:#30C;
	color:#FFF;
	width:170px;
	text-decoration:none;
	padding:10px;
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}
